.headerButton{
    border-radius: 20px;
    border-color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-left: 0px;

  }
  .headerButton:focus{outline: 0}
  .headerButtonHover{
      border-color: black;
  }
  .headerHr{
    border-color:lightgray;
    border-width: 0px;
    background: lightgray;
    height: 1px;
    margin-top: 1px;
  }
  .headerText{
    color:lightgray;
    font-size: 12px;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    margin: auto;
  }
  
  .App-header {
    background-color: white;
    /*height: 150px;*/
    padding: 5px;
    color: white;
  }

  .dropDownControl{
      
      border-top: 0px  !important;
      border-right: 0px  !important;
      border-left: 0px  !important;
      color: lightgray !important;
      padding-left: 0px !important;
      font-size: 12px !important;
  }
  .spanWarning{
    font-size: 10px;
    color: lightgray;
  }